:root {
	--primary-color: #f477dc;
	--secondary-color: #4de32a;
	--bg-color: #e72020;
	--text-color: #fbf230;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);

	font-family: 'Press Start 2P', system-ui;
	font-weight: 400;
	font-style: normal;
}

a {
	color: var(--text-color);
}
